.auth-card {
    width: 330px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.auth-card input {
    width: 85%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-card button {
    width: 90%;
    padding: 10px;
    background: #0077ff;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-card button:hover {
    background: #005bcc;
}

.auth-card a {
    color: #005bcc;
    text-decoration: none;
}
